mixin coin(imgSrc, coin, type)
	div.coin_wrap
		.photo(style="background-image: url('"+imgSrc+"')")
		.detail
			h5.f26 累積健康幣
			.coin.f70 #{coin}

		if type==='goDraw'
			+btn('goDraw')
				p.f34
					| 馬上抽
		else
			+btn('small')
				p.f34
					| 存健康幣
					br
					| 立即抽獎



mixin btn(type)
	div.btn(class=type)
		block


mixin ads
	.ads
		.sub_title.f26 獎項
		block


mixin linePoint(point, des)
	.point_wrap
		img(src="images/linepoint.png", alt="")
		h6.f50 #{point}
	b.f26(style="color: #44150d") &nbsp;#{des}

mixin pop(type)
	.pop
		.content(class=type)
			.close X
			if type==='success'
				img.cow(src="images/cow_success.png", alt="")
				p.f50 恭喜您成功獲得
				p.f_red.f34.W100
					| 『三獎』
					br
					font.f50.W100 Switch健身環組
				img.award(src="images/switch.png", alt="")

				+btn
					p.f34 領取獎品

			else if type==='failure'
				img.cow(src="images/cow_failure.png", alt="")
				p.f50
					font.f_red.W100 很可惜!
					br
					| 您沒有抽中好禮喔
				img.milk(src="images/milkcup.png", alt="")

				+btn
					p.f34 再存一次健康幣

			else if type==='login'
				img.present(src="images/2gift.png", alt="")
				.present_title
					img(src="images/title_login.svg", alt="")
					img.line(src="images/title_line.svg", alt="")
				p.f34 首
					font.f_red 7
					| 日登入，天天有驚喜
				.login_list
					ul.f23
						li.done
							.bg_white
								span Day1
								p
									img(src="images/gift.svg", alt="")
								img.check(src="images/check.png", alt="")
						li
							.bg_white
								span Day2
								p
									img(src="images/gift.svg", alt="")
								img.check(src="images/check.png", alt="")
						li
							.bg_white
								span Day3
								p
									img(src="images/gift.svg", alt="")
								img.check(src="images/check.png", alt="")
						li
							.bg_white
								span Day4
								p
									img(src="images/gift.svg", alt="")
								img.check(src="images/check.png", alt="")
						li
							.bg_white
								span Day5
								p
									img(src="images/gift.svg", alt="")
								img.check(src="images/check.png", alt="")
						li
							.bg_white
								span Day6
								p
									img(src="images/gift.svg", alt="")
								img.check(src="images/check.png", alt="")
						li.W100
							.bg_white
								span Day7
								p
									img(src="images/gift.svg", alt="")
								img.check(src="images/check.png", alt="")



			else if type==='login_award'
				h3.f55 登入成功!
				h4.f45
					span 獲得
					span.f80 1
					span 健康幣
				.img_wrap
					img.gift(src="images/openbox.gif", alt="")
					//- linepoint.png / momo.png / Hcoin.png
					img.pure_coin(src="images/Hcoin.png", alt="")
				+btn
					a(href="pop_login.html")
						p.f34 立即領取


			else if type==='receive_success'
				h3.f55.f_red
					b 領取成功
				h4.f34
					b 請至克寧KLIM MILK LINE官方帳號
						br
						| 查看訊息!


			else if type==='close_award'
				img.note(src="images/note.svg", alt="")
				h3.f55.f_red
					b 您還沒領獎喔!
				h4.f34
					b 確定要關閉嗎?
				.btn_area
					+btn
						a(href="#")
							p.f34 確定
					+btn
						a(href="#")
							p.f34 取消



