mixin coin(imgSrc, coin, type)
	div.coin_wrap
		.photo(style="background-image: url('"+imgSrc+"')")
		.detail
			h5.f26 累積健康幣
			.coin.f70 #{coin}

		if type==='goDraw'
			div.btn(class='goDraw' @click.prevent="GoToURL('store.html')")
				p.f34
					| 馬上抽
		else
			div.btn(class='small' @click.prevent="GoToURL('store.html')")
				p.f34
					| 存健康幣
					br
					| 立即抽獎

mixin vue_coin(imgSrc, coin, type)
	div.coin_wrap
		.photo(v-bind:style="{ backgroundImage: 'url(' + imgAvatar + ')' }")
		.detail
			h5.f26 累積健康幣
			.coin.f70 #{coin}

		if type==='goDraw'
			div.btn(class='goDraw' @click.prevent="GoToURL('store.html')")
				p.f34
					| 馬上抽
		else
			div.btn(class='small' @click.prevent="GoToURL('store.html')")
				p.f34
					| 存健康幣
					br
					| 立即抽獎


mixin btn(type)
	div.btn(class=type)
		block


mixin ads
	.ads
		.sub_title.f26 獎項
		block


mixin linePoint(point, des, ps)
	.point_wrap
		img(src="images/linepoint.png", alt="")
		h6.f50 #{point}點
	b.f26(style="color: #44150d") &nbsp;#{des}
	br
	b.f26(style="color: #cc0000") &nbsp;#{ps}


mixin pop(type, isVue, typePop, typeClose)
	- var defaultPop = isVue ? 'none' : ''
	.pop(style="display: "+defaultPop v-show=isVue)
		.content(class=type)
			.close(@click.prevent=typeClose)
				| X
			if type==='success'
				img.cow(src="images/cow_success.png" alt="")
				p.f50 恭喜您成功獲得
				p.f_red.f34.W100
					| 『三獎』
					br
					font.f50.W100 Switch健身環組
				img.award(src="images/switch.png" alt="")

				+btn
					p.f34 領取獎品

			else if type==='failure'
				img.cow(src="images/cow_failure.png" alt="")
				p.f50
					font.f_red.W100 很可惜!
					br
					| 您沒有抽中好禮喔
				img.milk(src="images/milkcup.png" alt="")

				+btn
				div.btn(@click.prevent="ReLottery")
					p.f34 再存一次健康幣

			else if type==='login'
				img.present(src="images/2gift.png" alt="")
				.present_title
					img(src="images/title_login.svg" alt="")
					img.line(src="images/title_line.svg" alt="")
				p.f34 首
					font.f_red &nbsp;7&nbsp;
					| 日登入，天天有驚喜
				.login_list
					ul.f23
						li(v-bind:class="{ done: info.signInCount>=1 }")
							.bg_white
								span Day1
								p
									img(src="images/gift.svg" alt="")
								img.check(src="images/check.png" alt="")
						li(v-bind:class="{ done: info.signInCount>=2 }")
							.bg_white
								span Day2
								p
									img(src="images/gift.svg" alt="")
								img.check(src="images/check.png" alt="")
						li(v-bind:class="{ done: info.signInCount>=3 }")
							.bg_white
								span Day3
								p
									img(src="images/gift.svg" alt="")
								img.check(src="images/check.png" alt="")
						li(v-bind:class="{ done: info.signInCount>=4 }")
							.bg_white
								span Day4
								p
									img(src="images/gift.svg" alt="")
								img.check(src="images/check.png" alt="")
						li(v-bind:class="{ done: info.signInCount>=5 }")
							.bg_white
								span Day5
								p
									img(src="images/gift.svg" alt="")
								img.check(src="images/check.png" alt="")
						li(v-bind:class="{ done: info.signInCount>=6 }")
							.bg_white
								span Day6
								p
									img(src="images/gift.svg" alt="")
								img.check(src="images/check.png" alt="")
						li(class="W100" v-bind:class="{ done: info.signInCount>=7 }")
							.bg_white
								span Day7
								p
									img(src="images/gift.svg" alt="")
								img.check(src="images/check.png" alt="")

			else if typePop==='login_award_1'
				h3.f55 登入成功!
				h4.f45
					span 獲得
					span MOMO 折價券
					span.f80 $50
				.img_wrap
					img.gift(src="images/openbox.gif" alt="")
					img.pure_coin(src="images/momo.png" alt="")
				div.btn(@click.prevent="GetRewardWithMessage")
					a(href="pop_login.html")
						p.f34 立即領取

			else if typePop==='login_award_2'
				h3.f55 登入成功!
				h4.f45
					span 獲得
					span.f80 1
					span 健康幣
				.img_wrap
					img.gift(src="images/openbox.gif" alt="")
					img.pure_coin(src="images/Hcoin.png" alt="")
				div.btn(@click.prevent="GetReward")
					a(href="pop_login.html")
						p.f34 立即領取

			else if typePop==='login_award_3'
				h3.f55 登入成功!
				h4.f45
					span 獲得
					span.f80 2
					span 健康幣
				.img_wrap
					img.gift(src="images/openbox.gif" alt="")
					img.pure_coin(src="images/Hcoin.png" alt="")
				div.btn(@click.prevent="GetReward")
					a(href="pop_login.html")
						p.f34 立即領取

			else if typePop==='login_award_4'
				h3.f55 登入成功!
				h4.f45
					span 獲得
					span.f80 3
					span 健康幣
				.img_wrap
					img.gift(src="images/openbox.gif" alt="")
					img.pure_coin(src="images/Hcoin.png" alt="")
				div.btn(@click.prevent="GetReward")
					a(href="pop_login.html")
						p.f34 立即領取

			else if typePop==='login_award_5'
				h3.f55 登入成功!
				h4.f45
					span 獲得
					span LINE Points
					span.f80 $30
				.img_wrap
					img.gift(src="images/openbox.gif" alt="")
					img.pure_coin(src="images/linepoint.png" alt="")
				div.btn(@click.prevent="GetRewardWithMessage")
					a(href="pop_login.html")
						p.f34 立即領取

			else if typePop==='login_award_6'
				h3.f55 登入成功!
				h4.f45
					span 獲得
					span.f80 5
					span 健康幣
				.img_wrap
					img.gift(src="images/openbox.gif" alt="")
					//- linepoint.png / momo.png / Hcoin.png
					img.pure_coin(src="images/Hcoin.png" alt="")
				div.btn(@click.prevent="GetReward")
					a(href="pop_login.html")
						p.f34 立即領取

			else if typePop==='login_award_7'
				h3.f55 登入成功!
				h4.f45
					span 獲得
					span.f80 10
					span 健康幣
				.img_wrap
					img.gift(src="images/openbox.gif" alt="")
					//- linepoint.png / momo.png / Hcoin.png
					img.pure_coin(src="images/Hcoin.png" alt="")
				div.btn(@click.prevent="GetReward")
					a(href="pop_login.html")
						p.f34 立即領取

			else if type==='receive_success'
				h3.f55.f_red
					b 領取成功
				h4.f34
					b 請至克寧KLIM MILK LINE官方帳號
						br
						| 查看訊息!

			else if type==='receive_success_short'
				h3.f55.f_red
					b 領取成功
				h4.f34
					b &nbsp;

			else if type==='close_award'
				img.note(src="images/note.svg", alt="")
				h3.f55.f_red
					b 您還沒領獎喔!
				h4.f34
					b 確定要關閉嗎?
				.btn_area
					+btn
						a(href="#")
							p.f34 確定
					+btn
						a(href="#")
							p.f34 取消

			else if type==='rules'
				.scroll
					.present_title
						img(src="images/title_note.svg", alt="", width="70%")
						img.line(src="images/title_line03.svg", alt="")
					p.f34.under_line
						font 獎項

					.dash_box
						.item
							h2.f_red.f45 Switch健身環組
							img(src="images/switch.png", alt="", width="90%")
							p.f26 6組/ 每月抽出兩組

						.item
							h2.f_red.f45
								| 身心純淨之旅
								br
								font.f32 涵碧樓湖景雙人套房
							img(src="images/hotel.png", alt="", width="50%")
							p.f26 3份/ 每月抽出一份

						.item
							h2.f_red.f45
								| LINE Points
							+linePoint('50', '90組/每月抽出30份')
							br
							br
							+linePoint('30', '300組/每月抽出100份')

						.item
							h2.f_red.f45 克寧限量馬克杯
							img(src="images/cup.png", alt="", width="45%", style="margin-left: -10%; padding: 10px 0;")
							p.f26 480個/ 每月抽出160個

						.item
							h2.f_red.f45 克寧純生乳奶粉隨手包
							img(src="images/milkbag.png", alt="", width="30%", style="padding: 10px 0;")
							p.f26 720包/ 每月抽出240包

					p.f34.under_line
						font 注意事項

					.warning
						ul.f26
							li 一天僅能上傳一次照片，重複上傳恕只能得到一枚健康幣
							li 請勿重複上傳相同的照片，經發現將取消獲獎資格
							li 請勿盜用他人的照片，經發現將取消獲獎資格
